.arrow-head{
    width: 6;
    height: 6;
    image-rendering: ("aseets/left-arrowhead-svgrepo-com.png");
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
}